/*.breadcrumb {
	background: $extra-light-gray;
	padding: 15px;
	border-radius: 4px;

	li {
		display: inline-block;
		color: $light-gray;
		&.active {
			&::after {
				content: "/";
				padding: 0 10px;
			}
		}
	}
}*/
