.form-group {
	.form-control {
		border: 1px solid $light-gray;
		border-radius: 4px;
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}

	label {
		display: block;
		margin-bottom: 0.5em;
		font-size: 14px;
		font-weight: bold;
	}
}

.btn {
	border: 0;
	border-radius: 4px;
	padding: 10px 15px;
}

.btn-primary {
	color: white;
	background: $blue;
}